doctype html
doctype html
html

head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no")
    
    meta(name="description",content="Operating system Development Blog")
    meta(name="author",content="Vigneash Sundar")

    title=title

    link(href='http://fonts.googleapis.com/css?family=Roboto',rel='stylesheet',type='text/css')
    link(href="stylesheet/bootstrap.css",rel="stylesheet")

   
    link(href="stylesheet/os_css.css",rel="stylesheet")

  
   



body
    div(class="jvnb")
        center
            h1(class="ban")
                | Vikene's Os Development Blog
        
        
        
       
     div(class="container-fluid")
            div(class="row")
                div(class="col-md-2")
                    ul(class="nav nav-pills nav-stacked")
                        li(role="presentation", class="jactive")
                            a(href="#")
                                |Home
                        li(role="presentation", class="nonact")
                            a(href="/boot_seq")
                                | Boot sequence
                        li(role="presentation", class="nonact")
                            a(href="#")
                                | Contact
            
                div(id="content" class="col-md-10")
                
                    | I still remember myself getting bullied by friends when I just said this magical words "I wanna make an Operating System". So yea my dream at my small age was to make an operating system from scratch and make things awesome with that. Every night i used to think of something  like making a rocket with my OS etc. That was in my school . As i grew up, nature thought me,  its isn't that easy to code an Operating system. Technically Billions of lines of Codes work together to make every single key stroke of mine to be registered, processed and reconstructed on screen. (Billion may be an exaggeration, nowadays its closing to it ). Every single operation works on fail safe algorithms, which tend to be faster, safer and awesome but weird to think how could one would have come up with this one. <br><br>
                    | So, let me make it very clear. In these set of tutorials you won't be able to make an Operating system like LINUX or Windows with Rich UI's , it would rather help you in getting acquainted with kernel and driver development process. At the end of this tutorial you would be able to make you're own  operating system with basic functionalities like a command processor and simple VGA 16 color UI designs. <br><br>
                    | Trust me there are several resources for you to get started with you're own operating system, but we live in Virtual machine world now, like codes have become expensive , complex and a hell a lot of dependencies. Many of the os related tutorials and concepts have become very old, like it takes lot of time for you to understand and work on with those codes. So people who usually start with so many fantasies in mind (like me) fail to make a basic boot loader even !. I still remember how many times I stopped after working on babystep 1 in OS DEV tutorials. So I decided to write a tutorial about,  how to make a proper head start of building you're own operating system in <b>days</b> at least.<br><br> 
                    | So am done with introduction, In next post you would have a complete outline of How our Computer boots.


            

        
                