doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport" ,content="width=device-width, initial-scale=1")
    meta(name="description",content="")
    meta(name="author",content="Vigneash Sundar")
    title
        | Login to Post

    
    link(href="/stylesheet/bootstrap.min.css",rel="stylesheet")


    link(href="/stylesheet/signin.css",rel="stylesheet")
    script(type='text/javascript',src='/js/session.js')
    script(type='text/javascript')
        | check_user_session()
        | var name = "#{deup}"
        | updatef()

  body
    h1
        | Checking user
